* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Byekan;
  src: url(../fonts/Byekan.ttf) format("truetype"),
    url(../fonts/Byekan.woff) format("woff");
}

@font-face {
  font-family: lalezar;
  src: url(../fonts/lalezar.ttf) format("treutype"),
    url(../fonts/lalezar.woff) format("woff");
}

body {
  direction: rtl;
  font-family: Byekan;
}